<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css" type="text/css">
    </head>
    <body>
        <div class="main-column">
            <header class="centered">
                <h1>Welcome</h1>
                <h3>Thank you for participating!</h3>
                <hr/>
            </header>
            <section>
                <h3>Goals</h3>
                <p>
                    The current consensous, or at least it seems to me, is that when you are creating a new website the best way
                    to generate traffic is to pay money for advertisements, or to pay content farms for views. This website is an experiament
                    to test an alternate theory.
                </p>
                <p>
                    Is is possible to generate sufficient web traffic for an unknown website simply by regularly posting (not spamming) on social sites such as Reddit or Discord?
                    I don't actually know. Others I have talked to are pretty doubtful. But as one indiviudal wisely asked:
                </p>
                <blockquote>
                    <span>Why don't you test that theory out?</span>
                </blockquote>
                <p>
                    So here we are. The plan is to post a link to this website once per day on a popular social platform for about two weeks (or more if it gets interesting).
                    The website will record views, and the data will be visible for all on the <a href="{{url_for('reports')}}">reports page</a>.
                </p>
                <p>
                    <a class="btn" href="{{url_for('reports')}}">See the Results</a>
                </p>
            </section>
        </div>
    </body>
</html>