<!DOCTYPE html>
<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles.css" type="text/css">
    </head>
    <body>
        <div class="main-column">
            <header class="centered">
                <h1>Reports</h1>
                <h3>The Results so Far</h3>
                <hr/>
            </header>
            <section>
                <h3>Goals</h3>
            </section>
        </div>
    </body>
</html>